@model IEnumerable<BettingSystem2.Models.Tourney>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewData["Nerado"].Equals(true))
{<p class="text-danger">Įvyko klaida bandant pašalinti</p>}



<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Temp" asp-route-id="@item.ID">Delete</a>
                    @if (ViewData["Patvirtint"].ToString() == @item.ID.ToString())
                    {
                <p class="text-danger">Ar tikrai norite pašalinti šį įrašą? <a asp-action="Delete" asp-route-id="@item.ID">Taip</a>  |   <a asp-action="Index">Ne</a></p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
