@page "{id:int?}"
@model BettingSystem.Pages.Prizes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prize</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prize.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prize.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prize.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prize.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prize.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prize.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prize.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
